{% extends "email/email_base.html" %}

{% block content %}
    <p class="lead" style="margin: 0;padding: 0;{{ settings.EMAIL.FONT_CSS }};margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;">Follow the link below to reset your password for access to Benefit Sculptor.</p>

    <p class="callout" style="margin: 0;padding: 15px;{{ settings.EMAIL.FONT_CSS }};margin-bottom: 15px;font-weight: normal;font-size: 14px;line-height: 1.6;background-color: {{ settings.EMAIL.BG_COLOR }};">
        <a href="{{ url }}" class="btn-primary" style="margin: 0;padding: 0;{{ settings.EMAIL.FONT_CSS }};color: #2BA6CB;font-weight: bold;">Reset Password</a>
    </p>

    <p style="margin: 0;padding: 0;{{ settings.EMAIL.FONT_CSS }};margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">Or paste the following into the address bar:</p><pre>{{ url }}</pre>
{% endblock %}

{% block unsubscribe %}
{% endblock %}
