{% extends "base.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block background-image %}url({% static "registration/img/keys.png" %}){% endblock background-image %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="lead">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p class="lead">Please login to see this page.</p>
    {% endif %}
{% else %}
<p class="lead">Please login below.</p>
{% endif %}

{% if form.errors %}
<p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'registration:login' %}">
{% csrf_token %}
<div class="form-group">
    {% render_field form.username class+="form-control" placeholder=form.username.label %}
</div>
<div class="form-group">
    {% render_field form.password class+="form-control" placeholder=form.password.label %}
</div>

<button class="btn btn-primary btn-lg btn-block" type="submit">login &raquo;</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}